.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.completed {
    background-color: #e0ffe0;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons button {
    min-width: 60px;
}

.date {
    font-size: 11px;
}